name: biometric_kit
description: "Simple, testable biometric wrapper (Face / Fingerprint) for iOS & Android."
version: 0.0.1
publish_to: "none"

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  local_auth: ^2.3.0
  flutter_secure_storage: ^9.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  # No assets needed here